<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "./partials/head.njk" %}
    </head>
    <body>
        <div class="container">
            {% include "./partials/header.njk" %}
            <hr>
            <main>
                <section>
                    <article>
                        <div>
                            <div>
                                {{content | safe}}
                            </div>
                        </div>
                    </article>
                </section>
            </main>
            {% include "./partials/footer.njk" %}
        </div>
    </body>
</html>