<header>
    <nav>
        <ol class="navs">
            <li class="nav">
                <a href="/" class="logo">
                    <span class="color-white">[<span> 
                    <span class="color-red">indrajith.dev 
                    <span class="color-white">]<span>
                </a>
            </li>
            <li class="nav"><a href="/about" class="links">About</a></li>
            <li class="nav"><a href="/posts" class="links">Posts</a></li>
            <li class="nav"><a href="/cv" class="links">CV</a></li>
        </ol>
    </nav>
</header>