<!DOCTYPE html>
<html lang="en">
<head>
{% include "./partials/head.njk" %}
</head>
<body class="flex h-screen flex-col bg-main-cream-white-2">
    {% include "./partials/header.njk" %}
    <main class="container mx-auto">
        <article >
            {{content | safe}}
        </article>
    </main>
    {% include "./partials/footer.njk" %}
</body>
</html>