<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "./partials/head.njk" %}
    </head>
    <body class="flex h-screen flex-col font-supply-regular bg-main-cream-white-2">
        {% include "./partials/header.njk" %}
        <main class="container mx-auto w-full p-8">
            <section class="flex-col items-center px-3">
                <article class="flex flex-col my-4">
                    <div class="flex flex-col justify-start p-6 ">
                        <div>
                            <p class="text-3xl bg-rose font-medium text-center text-darkish-200">{{title}}</p>
                            <p class="text-lg text-darkish-100 text-center">{{date | dateFilter}}</p>
                        </div>
                        <div class="mt-10 text-xl font-supply-regular text-justify text-darkish-300">
                            {{content | safe}}
                        </div>
                    </div>
                </article>
                <div class="flex flex-col text-xs text-center">
                    <span>If you found this article useful, spread the word by sharing this link 👉
                        <span class="w-1 absolute ml-2 my-0">
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-via="indrajithKLIS" data-hashtags="gamedev #indiegamedev #gametools" data-show-count="false">Tweet</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </span>
                    </span>
                </div>
                <div class="my-5">
                    <a class="justify-start bg-main-red rounded-md p-3 text-main-cream-white-1" href="/posts"><span class="absolute">{% feather "arrow-left" %}</span> <span class="ml-7">back to posts</span></a>
                </div>
            </section>

        </main>
        {% include "./partials/footer.njk" %}
    </body>
</html>