<!DOCTYPE html>
<html lang="en">
<head>
{% include "./partials/head.njk" %}
</head>
<body class="flex h-screen flex-col font-supply-regular bg-main-cream-white-2">
    {% include "./partials/header.njk" %}
    <main class="container mx-auto max-w-5xl p-8">
        <section class="w-full flex flex-col items-center px-3">
            <article class="flex flex-col my-4">
                <div class="flex flex-col justify-start p-6 ">
                    <div>
                        <p class="text-3xl bg-rose font-medium text-center text-darkish-200">{{title}}</p>
                        <p class="text-lg text-darkish-100 text-center">{{date | dateFilter}}</p>
                    </div>
                    <div class="mt-10 text-xl font-supply-regular text-justify text-darkish-300">
                        {{content | safe}}
                    </div>
                </div>
            </article>
            <div class="flex flex-col my-4">
                <a class="flex flex-col justify-start" href="/posts">back to posts</a>    
            </div>     
        </section>
        
        
    </main>
    {% include "./partials/footer.njk" %}
</body>
</html>