@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@font-face {
	font-family: 'MarioWorld';
	src: url("./fonts/Cotory-rgwd9.ttf");
}

html,body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	max-width: 900px;
	margin: auto;
	background: #ffffd6;
}

footer {
	bottom: 0px;
	left: 0;
	text-align: center;
	width: 100%;
}

* {
	box-sizing: border-box;
}

.header {
	text-align: center;
}
.header nav {
	display: block;
}

.header ul, footer ul {
	padding: 0px;
}

.header ul>li {
	display: inline-block;
	padding: 10px;
	text-align: center;
}

.header ul>li a {
	text-decoration: none;
	font-size: 15px;
	color: #000000;
	font-weight: bold;
}

.text-center {
	/* text-align: center; */
}

footer ul>li {
	display: inline-block;
}

footer ul>li>p {
	margin-block-end: unset;
}


.logo {
	text-decoration: none;
	font-family: 'MarioWorld', sans-serif;
	font-size: 150%;
	color: #000000;
}

.mt-10 {
	margin-top: 10px;
}

.font-bold {
	font-weight: bold;
}

.font-italics {
	font-style: italic;
}

table {
	border-collapse: collapse;
}

th, tr, td {
	border: 1px solid;
}

table tr {
	padding-bottom: 10px;
}

table th {
	padding-right: 20px;
}

table td {
	padding: 10px;
}

.post-date {
	font-size: 15px;
	font-style: italic;
}

.post-lists li {
	list-style-type: '◆  ';
	margin-bottom: 5px;
}

@media (max-width:1000px)  {
    body {
        font-size: 80%;
        padding: 3%;
    }
    #blog img{
        max-width: 80%;
    }
}
