---js
{
    layout: "posts.njk",
    title: "Big List of Open Source Game Development Tools",
    description: "Big List of Open Source Game Development Tools",
    date: new Date("27 October 2022"),
    modified: function() {
        return (new Date("20 November 2022").toUTCString())
    }
}
---

<p>Welcome to the big list (eventually it will be) of always updating bucket of <span class="font-bold">Open Source Game Development Tools</span>.
    Here you find not only Game Engines but other open source tools and utilities that will help you
    in developing your dream game/prototypes.
</p>
<div>
    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">
                                Tool Type
                            </th>
                    <th scope="col">
                                Supported Graphics
                            </th>
                    <th scope="col">
                                Development Environment
                            </th>
                </tr>
            </thead>
            <tbody>
                {% for tool in gtools.gameTools%}
                    <tr>
                        <td>
                            <a href={{tool.link}}>{{tool.toolName}}</a>
                        </td>
                        <td>
                            {{tool.type}}
                        </td>
                        <td>
                            {{tool.graphics}}
                        </td>
                        <td>
                            {{tool.os}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="mt-10">
    <span>If you want to add a tool or engine to this list or if you have any complaint with this article feel free to drop a mail @ <span class="font-bold">indrajith(at)indrajith(dot)dev</span></span>
</div>