---js
{
    layout: "posts.njk",
    title: "Big List of Open Source Game Development Tools",
    description: "Big List of Open Source Game Development Tools",
    date: new Date("27 October 2022"),
    modified: function() {
        return (new Date("20 November 2022").toUTCString())
    },
    cover: "/images/open-source.jpg"
}
---

<p>
    <img src="/images/open-source.jpg" width="" alt="">
</p>

<p>Welcome to the big list (eventually it will be) of always updating bucket of <span class="font-bold">Open Source Game Development Tools</span>.
    Here you find not only Game Engines but other open source tools and utilities that will help you
    in developing your dream game/prototypes.
</p>
<div>
    <div class="tools-container">
        {% for tool in gtools.gameTools%}
            <div class="tool">
                <div class="tool-name">
                    <a href={{tool.link}}>{{tool.toolName}}</a>
                </div>
                <div class="tool-type mt-10">
                    <label for="tool-type">Type : </label>
                    {{tool.type}}
                </div>
                <div class="tool-graphics">
                    <label for="tool-graphics">Graphics Supported : </label>
                    {{tool.graphics}}
                </div>
                <div class="tool-os">
                    <label for="tool-os">Development OS: </label>
                    {{tool.os}}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="mt-10">
    <span>If you want to add a tool or engine to this list or if you have any complaint with this article feel free to drop a mail @ <span class="font-bold">indrajith(at)indrajith(dot)dev</span></span>
</div>