---
layout: posts.njk
title: Big List of Open Source Game Development Tools
description: Big List of Open Source Game Development Tools
---

<p class="mt-5">Welcome to the big list (eventually it will be) of always updating bucket of <span class="font-bold">Open Source Game Development Tools</span>.
    Here you find not only Game Engines but other open source tools and utilities that will help you
    in developing your dream game/prototypes.
</p>
<div class="mt-5">
    <div class="overflow-auto">
        <table class="min-w-full">
            <thead class="border-b uppercase">
                <tr>
                    <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                Tool
                            </th>
                    <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                Tool Type
                            </th>
                    <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                Supported Graphics
                            </th>
                    <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                OS Supported
                            </th>
                </tr>
            </thead>
            <tbody>
                {% for tool in gtools.gameTools%}
                    <tr class="border-b">
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap underline">
                            <a href={{tool.link}}>{{tool.toolName}}</a>
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            {{tool.type}}
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            {{tool.graphics}}
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            {{tool.os}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="pt-5 text-xs md:text-justify text-left">
    <span class="text-center">If you want to add a tool or engine to this list or if you have any complaint with this article feel free to drop a mail @ <span class="font-bold">indrajith(at)indrajith(dot)dev</span></span>
</div>