---
layout: base.njk
eleventyExcludeFromCollections: true
title: Posts
---
<h2>Published Posts</h2>

{% for dateP, yearPosts in collections.postsByYear %}
    <div class="date-based">
        <h3>{{ dateP }}</h3>
        <ul class="post-lists">
            {% for post in yearPosts | reverse %}
                <li><a href="{{post.url}}">{{ post.data.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}