---
layout: base.njk
title: About
---
<h2>About Me</h2>
<div>
    <div>
        <img height="100px" src="/images/me.jpg" alt="me"/>
    </div>
    <p >
        My Name is Indrajith K L, a Web Developer currently working as a Systems Analyst with 9+ years of experience in various frontend frameworks and libraries like Angular 2+, React, AngularJS (v1.x), JQuery, RequireJS etc.
    </p>

    <p >
        Fluent in ES6, Typescript, &amp; NodeJS. Started out as an Android Developer in 2012, and then switched to Web Development and now focusing on frontend &amp; other web technologies.
    </p>

    <ul>
        <li><a title="Twitter" target="_blank" href="https://twitter.com/indrajithKLIS" class="links">Twitter</a></li>
        <li><a title="Github" target="_blank" href="https://github.com/cooljith91112" class="links">Github</a></li>
        <li><a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/indrajithklis/" class="links">LinkedIn</a></li>
        <li><a title="Ko-Fi" target="_blank" href="https://ko-fi.com/indrajith" class="links">Buy Me a Coffee</a></li>
    </ul>
</div>