---
layout: base.njk
title: About
---
<h2 class="text-2xl font-bold  text-darkish-300 p-2 text-center">About Me</h2>
<div class="mt-2 text-justify">
    <div class="flex justify-center items-center">
        <img class="object-cover h-48 rounded-full" src="/images/me.jpg" alt="me"/>
    </div>
    <p class="mt-3 text-darkish-300">
        My Name is Indrajith K L, a Web Developer currently working as a Systems Analyst with 9+ years of experience with various 
    frontend frameworks and libraries like Angular 2+, React, AngularJS (v1.x), JQuery, RequireJS etc.
    </p>

    <p class="mt-2 text-darkish-300">
        I'm fluent in ES6, Typescript &amp; NodeJS. I started out as a Android Developer in 2012 and then switched to Web Development and focused on
    frontend &amp; other web technologies.
    </p>
</div>