---
layout: base.njk
title: CV
---
<div class="flex flex-start justify-center items-center underline text-2xl mb-10"><h1>Curriculum Vitae</h1></div>

<ol class="border-l border-gray-300">
    <li>
        <div class="flex flex-start items-center pt-3">
            <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
            <p class="text-gray-500 text-sm">Jan 2020 - Present</p>
        </div>
        <div class="mt-0.5 ml-4 mb-6">
            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Systems Analyst</h4>
            <h2 class="text-gray-500 font-semibold text-xl mb-1.5">InApp</h2>
            {# <p class="text-gray-500 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula.</p> #}
        </div>
    </li>
    <li>
        <div class="flex flex-start items-center pt-2">
            <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
            <p class="text-gray-500 text-sm">Jul 2017 - Jan 2020</p>
        </div>
        <div class="mt-0.5 ml-4 mb-6">
            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Senior Software Engineer</h4>
            <h2 class="text-gray-500 font-semibold text-xl mb-1.5">InApp</h2>
            <p class="text-gray-500 mb-3"></p>
        </div>
    </li>
    <li>
        <div class="flex flex-start items-center pt-2">
            <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
            <p class="text-gray-500 text-sm">Jan 2016 - Jul 2017</p>
        </div>
        <div class="mt-0.5 ml-4 pb-5">
            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Software Engineer</h4>
            <h2 class="text-gray-500 font-semibold text-xl mb-1.5">InApp</h2>
            <p class="text-gray-500 mb-3"></p>
        </div>
    </li>
    <li>
        <div class="flex flex-start items-center pt-2">
            <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
            <p class="text-gray-500 text-sm">Jun 2014 - Jan 2016</p>
        </div>
        <div class="mt-0.5 ml-4 pb-5">
            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Software Engineer</h4>
            <h2 class="text-gray-500 font-semibold text-xl mb-1.5">Naga Info Solutions</h2>
            <p class="text-gray-500 mb-3"></p>
        </div>
    </li>
    <li>
        <div class="flex flex-start items-center pt-2">
            <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
            <p class="text-gray-500 text-sm">Nov 2013 - Jun 2014</p>
        </div>
        <div class="mt-0.5 ml-4 pb-5">
            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Software Engineer</h4>
            <h2 class="text-gray-500 font-semibold text-xl mb-1.5">SQube</h2>
            <p class="text-gray-500 mb-3"></p>
        </div>
    </li>
    <li>
        <div class="flex flex-start items-center pt-2">
            <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
            <p class="text-gray-500 text-sm">Oct 2012 - Nov 2013</p>
        </div>
        <div class="mt-0.5 ml-4 pb-5">
            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Freelance Developer</h4>
            <h2 class="text-gray-500 font-semibold text-xl mb-1.5">Simple Graphics</h2>
            <p class="text-gray-500 mb-3"></p>
        </div>
    </li>
</ol>