---
layout: base.njk
title: Hire Me
---
<h2>Hire Me</h2>
<div>
    <form action="https://getform.io/f/8fc9e444-7a4f-4f36-98b6-840a8ce7cb94" method="POST">
        <div>
            <div>
                <div>
                    <div>
                        <label for="client-name">Your Name*</label>
                        <div >
                            <input type="text" name="client-name" id="client-name" required>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <label for="client-email">Email*</label>
                        <div>
                            <input type="email" name="client-email" id="client-email" required>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <label for="company-website">Website</label>
                        <div>
                            <span>http://</span>
                            <input type="text" name="company-website" id="company-website" placeholder="www.yourwebsite.com">
                        </div>
                    </div>
                </div>

                <div>
                    <label for="project-req">Requirement*</label>
                    <div class="mt-1">
                        <textarea id="project-req" name="project-req" rows="3" required></textarea>
                    </div>
                    <p>A short description of the project and requirements
                        </p>
                </div>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>