---
layout: base.njk
title: Hire Me
---
<h2 class="text-2xl font-bold  text-black p-2 text-center">Hire Me</h2>
<form action="https://getform.io/f/8fc9e444-7a4f-4f36-98b6-840a8ce7cb94" method="POST">
    <div class="mt-5 md:col-span-2 md:mt-0">
        <form action="https://getform.io/f/8fc9e444-7a4f-4f36-98b6-840a8ce7cb94" method="POST">
            <div class="sm:overflow-hidden sm:rounded-md">
                <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
                    <div class="grid grid-cols-3 gap-6">
                        <div class="col-span-3 sm:col-span-2">
                            <label for="client-name" class="block text-sm font-medium text-gray-700">Your Name*</label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <input type="text" name="client-name" id="client-name" required
                                    class="block w-full flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 gap-6">
                        <div class="col-span-3 sm:col-span-2">
                            <label for="client-email" class="block text-sm font-medium text-gray-700">Email*</label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <input type="email" name="client-email" id="client-email" required
                                    class="block w-full flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 gap-6">
                        <div class="col-span-3 sm:col-span-2">
                            <label for="company-website" class="block text-sm font-medium text-gray-700">Website</label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <span
                                    class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-sm text-gray-500">http://</span>
                                <input type="text" name="company-website" id="company-website"
                                    class="block w-full flex-1 rounded-none rounded-r-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                    placeholder="www.yourwebsite.com">
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="project-req" class="block text-sm font-medium text-gray-700">Requirement*</label>
                        <div class="mt-1">
                            <textarea id="project-req" name="project-req" rows="3" required
                                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
                        </div>
                        <p class="mt-2 text-sm text-gray-500">A short description of the project and requirements
                        </p>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                    <button type="submit"
                        class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Submit</button>
                </div>
            </div>
        </form>
    </div>
</form>