---
layout: intro.njk
title: Home
alternatetitle: "Hello Friend!! My name is Indrajith K L."
---
<div class="text-center">
    <div>
        <p>
            {{alternatetitle}} I'm a web developer, hobbyist game developer from India, working as a front-end developer.
            This site is where I write about my fun side projects, R&amp;D's, random thoughts, game development etc. Since you here why don't you read some <a href="/posts" class="text-main-cardheading font-bold">posts</a>.
        </p>
    </div>
</div>

<div>
    <h3>Recent Posts</h3>
    <div>
        {% for post in collections.posts | reverse %}
            {% if (loop.index <= 4) %}
                <div>
                    <p>{{post.data.title}}</p>
                    <div><a href="{{post.url}}">Read more</span></a></div>
                </div>
            {% endif %}
        {% else %}
            <div>
                    <p>No Posts</p>
            </div>
        {% endfor %}
    </div>
</div>
