---
layout: base.njk
title: Career Timeline
---
<div><h1>Career Timeline</h1></div>

<ol>
    <li>
        <div>
            <div></div>
            <p>Jan 2020 - Till Present</p>
        </div>
        <div>
            <h4>Systems Analyst</h4>
            <h3>InApp</h3>
            {# <p class="text-gray-500 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula.</p> #}
        </div>
    </li>
    <li>
        <div>
            <div></div>
            <p>Jul 2017 - Jan 2020</p>
        </div>
        <div>
            <h4>Senior Software Engineer</h4>
            <h3>InApp</h3>
            <p></p>
        </div>
    </li>
    <li>
        <div>
            <div></div>
            <p>Jan 2016 - Jul 2017</p>
        </div>
        <div>
            <h4>Software Engineer</h4>
            <h3>InApp</h3>
            <p></p>
        </div>
    </li>
    <li>
        <div>
            <div></div>
            <p>Jun 2014 - Jan 2016</p>
        </div>
        <div>
            <h4>Software Engineer</h4>
            <h3>Naga Info Solutions</h3>
            <p></p>
        </div>
    </li>
    <li>
        <div>
            <div></div>
            <p>Nov 2013 - Jun 2014</p>
        </div>
        <div>
            <h4>Software Engineer</h4>
            <h3>SQube</h3>
            <p></p>
        </div>
    </li>
    <li>
        <div>
            <div></div>
            <p>Oct 2012 - Nov 2013</p>
        </div>
        <div>
            <h4>Freelance Developer</h4>
            <h3>Simple Graphics</h3>
            <p></p>
        </div>
    </li>
</ol>