<footer class="items-center px-6 py-2 mt-auto bg-main-dark-brown-2 text-main-cream-white-2">
    <ul class="w-full flex md:hidden gap-5 font-supply-regular ml-auto justify-center mt-5 md:mt-0">
        <li class="hover:text-lightish-50 inline-block"><a title="Twitter" target="_blank" href="https://twitter.com/indrajithKLIS" class="links">{% feather "twitter" %}</a></li>
        <li class="hover:text-lightish-50 inline-block"><a title="Github" target="_blank" href="https://github.com/cooljith91112" class="links">{% feather "github" %}</a></li>
        <li class="hover:text-lightish-50 inline-block"><a title="Personal - GIT" target="_blank" href="https://git.indrajith.dev/" class="links">{% feather "git-branch" %}</a></li>
        <li class="hover:text-lightish-50 inline-block"><a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/indrajithklis/" class="links">{% feather "linkedin" %}</a></li>
        <li class="hover:text-lightish-50 inline-block"><a title="Ko-Fi" target="_blank" href="https://ko-fi.com/indrajith" class="links">{% feather "coffee" %}</a></li>
        <li class="hover:text-lightish-50 inline-block"><a title="RSS" target="_blank" href="/feed.xml" class="links">{% feather "rss" %}</a></li>
    </ul>
    <ul class="flex w-full gap-10 font-supply-regular justify-center mt-5 md:mt-auto">
        <li class="mt-1">
            <p>&copy; 2022 Indrajith K L </p>
        </li>
    </ul>
    <div id="wcb" class="carbonbadge wcb-d"></div>
</footer>