<footer class="items-center px-6 py-2 mt-auto bg-black text-white">
    
    <ul class="flex w-full gap-10 font-supply-regular justify-center">
            <li class="mt-1">
                <p>&copy; 2022 Indrajith K L </p>
            </li>
            {# <li><a title="Twitter" href="https://twitter.com/indrajithKLIS" class="links">{% feather "twitter" %}</a></li>
            <li><a title="Github" href="https://github.com/cooljith91112" class="links">{% feather "github" %}</a></li>
            <li><a title="LinkedIn" href="https://www.linkedin.com/in/indrajithklis/" class="links">{% feather "linkedin" %}</a></li> #}
        </ul>
</footer>