<footer class="items-center px-6 py-2 mt-auto bg-black text-white">
    <ul class="flex w-full visible md:hidden gap-4 font-supply-regular ml-auto justify-center mt-5">
        <li class="hover:text-white inline-block"><a title="Twitter" href="https://twitter.com/indrajithKLIS" class="links">{% feather "twitter" %}</a></li>
        <li class="hover:text-white inline-block"><a title="Github" href="https://github.com/cooljith91112" class="links">{% feather "github" %}</a></li>
        <li class="hover:text-white inline-block"><a title="LinkedIn" href="https://www.linkedin.com/in/indrajithklis/" class="links">{% feather "linkedin" %}</a></li>
        <li class="hover:text-white inline-block"><a title="RSS" href="/feed.xml" class="links">{% feather "rss" %}</a></li>
    </ul>
    <ul class="flex w-full gap-10 font-supply-regular justify-center mt-5 md:mt-auto">
            <li class="mt-1">
                <p>&copy; 2022 Indrajith K L </p>
            </li>
    </ul>
</footer>