<header class="header">
    <div class="logo-container">
        <a class="logo" href="/">indrajith.dev</a>
    </div>
    <h4>(Software is Art)</h4>
    <nav>
        <ul>
            <li><a href="/about" class="hvr-wobble-bottom" id="about" class="links">About</a></li>
            <li><a href="/posts" class="hvr-wobble-bottom" id="posts" class="links">Posts</a></li>
            <li><a href="/timeline" class="hvr-wobble-bottom" id="cv" class="links">Timeline</a></li>
            <li><a href="https://git.indrajith.dev" class="hvr-wobble-bottom" id="cv" class="links">git</a></li>
            <li><a href="/contact" id="cv" class="links hvr-wobble-bottom">Contact</a></li>
        </ul>

    </nav>
</header>

<script>
(function(){
    const currentLocation = location.pathname;
    const navs = ["about","posts","cv"];
    const currentNav = navs.find(nav=>currentLocation.includes(nav));
    if (currentNav) {
        document.getElementById(currentNav).parentElement.classList.add("text-lightish-50");
    }
})();
</script>